<div class="about-container">
  <img [src]="imagePath" class="about-img" alt="About Us">
  <h2 class="about-page-header">About US</h2>
  <div class="jumbotron about-passage">
    <h5>Innovatif Mindz</h5>
    <mat-divider class="divider"></mat-divider>
    <p>{{infoText}}</p>
  </div>
</div>