.about-container{
    color: #343a40;
    .about-img{
        width: 100%;
        max-height: 445px;
    }
    .about-page-header{
        position: absolute;
        top: 50%;
        left: 46%;
        color:#fff;
    }
    .about-passage{
        margin-top: 10px;
    }
    .divider{
        background-color: #00b294;
        height: 2px;
    }
}