.mat-accordion .mat-expansion-panel{
    border-radius: 4px;
    margin-bottom: 5px;
    // &:hover{
    //     border: 1px solid #343a40;
    // }
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    color: #6e6e6e;
    font-weight: 600;
}