<div class="row">
  <div class="col-md-4">
     <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
        </div>
        <mat-card-title>We Care About Product Quality</mat-card-title>
        <mat-card-subtitle class="card-subtitle"><span class="subtitle-text">Finance</span></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://demo.keonthemes.com/multiple-business/wp-content/uploads/2018/12/business-gravity-img-5-1170x710.jpg" alt="Finance">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et leo eget risus aliquet mollis a et lacus. Vestibulum condimentum ex vitae felis vehicula tempor. Nunc tempor vel arcu sit amet imperdiet. Sed at rhoncus erat, et auctor nunc. Proin fringilla euismod pellentesque. Vivamus in bibendum velit.Sed auctor orci sit amet leo mollis placerat. Curabitur suscipit consequat imperdiet.
        </p>
      </mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <mat-card-actions>
        <button mat-button class="detail-button">View details
        <i class="fa fa-arrow-right"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon svgIcon="thumbs-up"></mat-icon>
        </div>
        <mat-card-title>We Make Solution in Business</mat-card-title>
        <mat-card-subtitle class="card-subtitle"><span class="subtitle-text">Finance</span></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://demo.keonthemes.com/multiple-business/wp-content/uploads/2018/12/business-gravity-img-7-1170x710.jpg" alt="<Finance></Finance>">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et leo eget risus aliquet mollis a et lacus. Vestibulum condimentum ex vitae felis vehicula tempor. Nunc tempor vel arcu sit amet imperdiet. Sed at rhoncus erat, et auctor nunc. Proin fringilla euismod pellentesque. Vivamus in bibendum velit.Sed auctor orci sit amet leo mollis placerat. Curabitur suscipit consequat imperdiet.
        </p>
      </mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <mat-card-actions>
        <button mat-button class="detail-button">View details
        <i class="fa fa-arrow-right"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <i class="fa fa-money-bill-alt"></i>
        </div>
        <mat-card-title>About Business Development</mat-card-title>
        <mat-card-subtitle class="card-subtitle"><span class="subtitle-text">Business</span></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://demo.keonthemes.com/multiple-business/wp-content/uploads/2018/12/business-gravity-img-26-1170x710.jpg" alt="<Finance></Finance>">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et leo eget risus aliquet mollis a et lacus. Vestibulum condimentum ex vitae felis vehicula tempor. Nunc tempor vel arcu sit amet imperdiet. Sed at rhoncus erat, et auctor nunc. Proin fringilla euismod pellentesque. Vivamus in bibendum velit.Sed auctor orci sit amet leo mollis placerat. Curabitur suscipit consequat imperdiet.
        </p>
      </mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <mat-card-actions>
        <button mat-button class="detail-button">View details
        <i class="fa fa-arrow-right"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>