.card-subtitle{
    background-color: #6e6e6e;
    width: max-content;
}

.subtitle-text{
    padding: 5px;
    color: #fff;
}

.detail-button{
    color: #6e6e6e;
}

.divider{
    background-color: #00b294;
    height: 2px;
}

.money-icon{
    content: "\e01e";
}