.header{
    display: flex;
    // background: linear-gradient(135deg,#0143a3,#0273d4);
    background: #4F78A4;
    color: #ffffff;
    justify-content: center;
    margin-bottom: 5px;
}

.navbar {
    font-weight: 500;
}

#main{
    margin-top: 56px;
    .cards-container{
        margin-bottom: 32px;
    }
}
.container-fluid {
    margin-top: 65px;
}

.page-footer{
    background-color: #182c34;
    margin-top: 20px;
    .category-subheader{
        color: #ffffff;
    }
    .footer-site-branding{
        color: #bfbfbf;
    }
    .site-footer-categories{
        color: #bfbfbf;
        font-size: smaller;
        .divider{
            color: #ffffff;
            width: 40%;
        }
    }
    .footer-copyright{
        color: #0056b3;
    }
}