<div>

  <header id="fixed-header" role="banner">
    <app-menunav-bar></app-menunav-bar>
  </header>

  <section id="main" class="container">
    <router-outlet></router-outlet>
  </section>

  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="site-branding footer-site-branding">
            <h4>Innovatif Mindz</h4>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>Sign up</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row site-footer-categories">
        <div class="col-md-4">
          <h5 class="category-subheader">About Us</h5>
          <mat-divider class="divider"></mat-divider>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
            dui. </p>
        </div>
        <div class="col-md-4">
          <h5 class="category-subheader">Working hours</h5>
          <mat-divider class="divider"></mat-divider>
          <p>Feel free to call us at any time. We can be reached during normal business hours at: (123) 321-4321.</p>
          <p>
            <strong>Mon - Fri:</strong> 8<sup>AM</sup> - 5<sup>PM</sup><br>
            <strong>Saturday:</strong> 8<sup>AM</sup> - 3<sup>PM</sup><br>
            <strong>Sunday:</strong> <em>Closed</em>
          </p>
        </div>
        <div class="col-md-4">
          <h5 class="category-subheader">Privacy Policy</h5>
          <mat-divider class="divider"></mat-divider>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
            dui. </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
  </footer>
  
</div>