.mat-form-field {
    width: 100%;
}

.ng-select-custom {
    border-radius: none;
    border: none;
    border-bottom: 1px solid rgb(148, 148, 148);
}

.back-btn{
  margin-left: 3px;
}

.create-header{
    color: rgb(148, 148, 148);
}

.btn{
    background-color: #4F78A4;
    border: none;
    &:hover{
        border: none;
    }
}