<div class="col-md-4">
  <!--<div class="row">-->
    <h5 class="create-header">Create New Customer</h5>
    <!--</div>-->
  <form (ngSubmit)="onSubmit()" *ngIf="formData">
    <div class="form-group">
      <!--<label for="name">Customer Name</label>-->
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="formData.name" placeholder="Customer Name" id="name" name="name" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="formData.address" placeholder="Address" name="address" id="address" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput type="email" [(ngModel)]="formData.email" placeholder="E-mail" name="email" id="email" required />
      </mat-form-field>
    </div>
    <div class="form-group">
       <mat-form-field class="example-full-width">
        <input matInput type="number" [(ngModel)]="formData.phone" placeholder="Mobile Number" name="phone" id="phone" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <ng-select [items]="cities"
                 name="city"
                 bindLabel="name"
                 bindValue="name"
                 placeholder="Select city"
                 [(ngModel)]="formData.city">
      </ng-select>
      <!--<select [(ngModel)]="formData.city" name="city" id="city" class="form-control">
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>-->
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <textarea matInput [(ngModel)]="formData.comments" placeholder="Enter comments" name="comments" id="comments" ></textarea>
      </mat-form-field>
    </div>
    <button type="submit" class="btn btn-info">Create Customer</button>
    <button class="btn btn-info back-btn" (click)="onBackClick()">Back</button>
  </form>
</div>