// .navbar-brand{
//     color: #343a40;
// }

.navbar{
    background-color: #3b3b3b;
    .navbar-brand{
        color: #fff;
        &:hover{
            color:#bfbfbf;
        }
    }
    .nav-link{
        color: #fff;
        &:hover{
            color:#bfbfbf;
        }
    }
    .btn{
        background-color: #009c82;
    }
}

.navbar-light{
    color: #fff;
}