<!--<div class="item-list-container">
  <div class="col-md-3">
    <ul class="item-list">
      <li *ngFor="let item of items">
        <a class="item-text" routerLink="/{{item.route}}">
          <span >{{item.displayName}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>-->

<div class="jumbotron">
  <div class="container">
    <app-carousel></app-carousel>
  </div>
</div>
<div class="cards-container">
  <app-info-cards></app-info-cards>
</div>
<div class="jumbotron about-section">
  <div class="container">
    <h2 class="text-center">About Us</h2>
    <div class="row about-panel">
      <div class="col-md-6 about-cols">
        <img class="about-us-img" src="https://demo.keonthemes.com/multiple-business/wp-content/uploads/2018/12/business-gravity-img-2-1170x710.jpg">
        <div class="about-content">
          <h3>About Us</h3>
          <p>Quas aliquam provident ullamcorper fugiat cupiditate illo ipsam aptent, magnis, dui voluptatibus, adipisicing sunt.
            Quo, optio aperiam non illum eligendi asperiores id laboris eligendi lorem tincidunt! Placeat totam?</p>
          <div class="button-container">
            <button mat-raised-button><a href="/aboutus">View More</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 about-cols">
        <expansion-panel></expansion-panel>
      </div>
    </div>
  </div>
</div>