// .item-list{
//     padding: 0;
// }

// .item-list li{
//     display: block;
//     margin-bottom: 2px;
//     height: 30px;
//     border-radius: 4px;
//     border: 1px solid #ccc;
//     background-color: rgba(108, 117, 125, 0.04);
//      &:hover {
//         box-shadow: 1px 1px 1px 1px #ccc;
//      }
// }

// .item-text{
//     padding: 4px;
//     text-decoration: none;
//     color: #4F78A4;
// }

.cards-container{
    margin-bottom: 32px;
}
.about-section{
    background-color: #6e6e6e;
    color: #fff;
    .about-panel{
        margin-top: 22px;
        .about-cols{
            padding: 15px;
        }
        .about-us-img{
            width: inherit;
            padding-right: 10px;
        }
        .about-content {
            background-color: rgba(255, 255, 255, 0.73);
            color: #343a40;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
            -ms-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
            margin-left: 70px;
            margin-top: -90px;
            padding: 30px 30px 35px;
            position: relative;
                .mat-raised-button {
                    a{
                        color: #fff;
                    }
                color: #fff;
                background-color: #6e6e6e;
            }
        }
    }
}